@import 'bootstrap_ar.min.css';
body {
    overflow-x: hidden;
    font-family: 'Cairo', sans-serif;
    background: white;
    color: #262262;
    line-height: 1.5;
    direction: rtl;
    text-align: right;
}

.categorySelected {
    text-decoration: none;
    color: #FFFFFF;
    background: #1E1B4D 0% 0% no-repeat padding-box;
    opacity: 1;
    border-right: 12px solid #bc1c86 !important;
    padding-right: 10px !important;
}

.btn:focus,
.btn:visited,
select:focus,
select:visited,
button:focus,
button:visited {
    box-shadow: none !important;
    outline: 0 !important;
}

.postion_top {
    position: relative !important;
    top: 110px !important;
}

.form-check-label {
    margin-bottom: 0;
    margin-right: 20px;
}

.form-check {
    text-align: right;
}

.hide {
    display: none;
}


/* .fa {
    margin-left: 5px;
} */

.dropdown-item i {
    margin-left: 5px;
}

#buttonBackToTop {
    position: fixed;
    bottom: 20px;
    left: 10px;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    transition: all 0.3s ease;
    cursor: pointer;
    transform: rotate(-180deg)
}

#buttonBackToTop img {
    width: 42px;
    transition: all 0.3s ease;
}

#buttonBackToTop:hover img {
    transform: rotate(180deg);
    transition: all 0.3s ease;
}

#buttonBackToTop.show {
    opacity: 1;
    visibility: visible;
}

.dropdown-item.active,
.dropdown-item:active {
    background: transparent;
}

.btn-main {
    height: 48px;
    padding: 0 30px;
}

.btn-bg-pink {
    background: #BC1C86 0% 0% no-repeat padding-box;
    box-shadow: 2px 4px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    border: 0;
    color: white;
}

.mobile {
    display: none;
}

.sidebar.fixed {
    position: fixed;
    top: 0;
    width: 295.5px;
}

.services_order {
    font: 400 20px Cairo !important;
    padding: 3px 30px;
    margin-bottom: 20px !important;
    display: inline-block;
}

.services_order i {
    font-size: 18px;
    margin-right: 10px;
}

a:hover {
    text-decoration: none;
}

.padding-80 {
    padding: 0 80px;
}

.btn-border {
    border-radius: 5px;
    height: 40px;
    line-height: 37px;
    text-align: -webkit-center;
    font-size: 18px;
    font-weight: bold;
    background: transparent;
}

a,
button {
    cursor: pointer;
}

nav,
.navbar-brand {
    padding: 0 !important;
}

.row,
.navbar-brand {
    margin: 0;
}

.mob {
    display: none;
}

.midmenu {
    min-width: 600px;
}

.border_left {
    border-left: 1px solid #f3f3f3
}

header {
    position: relative;
}

#openSearch {
    display: none;
}

.mobile-search-web {
    position: absolute !important;
    top: 33px !important;
    width: 100%;
    left: 0;
    z-index: 1 !important;
    border-radius: 0 !important;
    transition: all 0.3s ease-in-out;
}

.homePage .navbar {
    height: 80px;
    max-width: 100%;
    background: white;
    border-radius: 40px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 30px;
    z-index: 1;
    left: 40px;
    right: 40px;
    transition: all 0.3s ease-in-out;
}

.homePage .navbar.fixed {
    height: 80px;
    max-width: 100%;
    background: white;
    border-radius: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 9999;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.navbar .navbar-brand {
    margin-right: 30px;
}

.navbar .navbar-brand img {
    width: 115px;
}

.navbar ul li:hover {
    background: #FAFAFA;
    border-bottom: 10px solid #BC1C86;
    height: 80px;
}

.navbar ul li .btn-group.show {
    background: #FAFAFA;
    border-bottom: 10px solid #BC1C86;
}

.dropdown-item {
    white-space: normal !important;
    padding: .25rem .5rem;
}

.navbar ul li .btn-group.show .nav-link {
    height: 70px;
}

.navbar ul li .btn-group.show .dropdown-menu {
    border: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 5px 5px;
    margin-top: 10px;
    left: unset;
    right: 0;
    text-align: right;
}

.navbar ul li .btn-group.show .dropdown-menu a {
    font-weight: normal;
    font-size: 14px;
    color: #545454;
}

.navbar ul li .dropdown-toggle::after {
    display: none;
}

.navbar ul li {
    transition: all 0.3;
}

.navbar ul li .nav-link {
    color: #545454;
    font-size: 16px;
    font-weight: 600;
    height: 80px;
    line-height: 3.5;
}

.navbar ul li .nav-link i {
    font-size: 14px;
}

.navbar ul li .nav-link:hover {
    color: #BC1C86;
}

.homePage .navbar .extra-nav {
    width: 275px;
    background: #7D1E83;
    border-radius: 40px 0 40px 40px;
    height: 80px;
    transition: all 0.3s ease-in-out;
}

.homePage .navbar .extra-nav.fixed {
    width: 275px;
    background: #7D1E83;
    border-radius: 0 0 40px 0;
    height: 80px;
    transition: all 0.3s ease-in-out;
}

.navbar .extra-nav .btn-group.show {
    background: #5F1763;
}

.navbar .extra-nav .dropdown-menu {
    text-align: right;
}

.navbar .extra-nav .btn-group {
    max-width: 55px;
    height: 100%;
}

.navbar .extra-nav .btn-group img {
    width: 28px;
}

.navbar .extra-nav .btn-group .dropdown-toggle::after {
    display: none;
}

header .social-media {
    padding: 25px 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 20px;
    width: 80px;
    height: 317px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 40px;
    opacity: 1;
    backdrop-filter: blur(25px);
    z-index: 1;
}

header .scroll {
    position: absolute;
    bottom: 20px;
    width: 28px;
    right: 50%;
    z-index: 20;
    margin-right: -24px;
}

header .carousel-item {
    height: 100vh;
}

header .carousel-indicators {
    justify-content: start;
    margin: 0;
    bottom: 30px;
    right: 30px;
}

header .carousel-indicators li {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    border: 0;
}

header .carousel-caption {
    right: 73px;
    bottom: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: right;
}

header .carousel-caption .services_order {
    background: #BC1C86;
    color: white;
    border: 0;
    border-radius: 24px;
}

header .carousel-caption h3 {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
}

header .carousel-caption h1 {
    font-size: 65px;
    font-weight: bold;
}

header .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main {
    padding: 50px 0 0 0;
}

#main section.d-flex {
    margin-right: 50px;
    text-align: right;
}

#main section.d-flex i {
    margin-left: 15px;
    font-size: 40px;
    display: flex;
    align-items: center;
    color: white;
}

#main p,
#main select {
    font-weight: bold;
    font-size: 22px;
}

#main p {
    color: #545454;
}

#main .select {
    position: relative;
    height: auto;
}

#main .select i {
    position: absolute;
    color: #BC1C86;
    top: 15px;
    left: 15px;
}

#main select {
    border: 1px solid #ccc;
    border-radius: 30px;
    background: #FAFAFA;
    width: 219px;
    margin-right: 15px;
    padding-right: 14px;
    font-size: 16px;
    height: 46px;
}

#main button {
    border-radius: 5px;
    background: #BC1C86;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: 0;
    width: 180px;
    margin-right: 15px;
}

#main .second {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

#main div:last-child {
    margin: 28px auto;
    max-width: 750px;
    border-radius: 5px;
    background: #262262;
}

#main div:last-child p {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

#main div:last-child span {
    font-size: 16px;
    color: white;
}

#services,
#articles,
#library {
    background: url(../../assets/img/Shield.svg);
    background-repeat: no-repeat;
    background-position: top center;
}

#services .title_1,
#slider .title_1,
#articles .title_1 {
    padding-top: 60px;
    font-size: 35px;
    color: #262262;
    font-weight: 800;
    text-align: center;
    position: relative;
}

#slider .title_1 .dots,
#services .title_1 .dots,
#articles .title_1 .dots {
    object-fit: contain;
    position: absolute;
    top: 50px;
    right: 0;
}

#services .services,
#articles .services {
    padding: 60px 12px;
}

#services .services section,
#articles .services section {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 5px;
    background: #cccc;
    margin: 0 0 30px 0
}

#services .services section a,
#articles .services section a {
    cursor: pointer;
}

#services .services section img,
#articles .services section img {
    object-fit: cover;
    width: 100%;
    height: 383px;
}

#services .services section h3,
#articles .services section h3 {
    height: 60px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0 0 5px 5px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    backdrop-filter: blur(25px);
    z-index: 1;
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 3;
    padding-top: 0;
    font-weight: 600;
}

#services .btn-border,
#slider .btn-border,
#articles .btn-border {
    border: 1px solid #BC1C86;
    color: #BC1C86;
    width: 250px;
    margin-left: 15px;
}

#services .btn-border i,
#slider .btn-border i,
#articles .btn-border i {
    margin-right: 10px;
}

#services .btn-border:hover,
#slider .btn-border:hover,
#articles .btn-border:hover {
    background: #BC1C86;
    color: white;
}

#services {
    position: relative;
}

#services .backdrop:hover .overlay_filter {
    height: 100%;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    width: 100%;
    transition: all 0.2s ease-in-out;
}

#services .backdrop:hover .info_text {
    opacity: 1;
}

.info_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.more {
    position: absolute;
    bottom: 0;
    background: #BC1C86;
    height: 60px;
    width: 100%;
    content: "";
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9;
    line-height: 56px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

#services .backdrop:hover .more {
    opacity: 1;
}

.more a {
    color: white;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
}

.info_text h6 {
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.info_text small {
    display: block;
    padding: 0 30px;
    color: white;
}

#video {
    background: #262262;
    padding: 40px 40px;
    color: white;
    text-align: right;
    position: relative;
}

#video h3 {
    font-weight: bold;
    font-size: 32px;
    padding: 10px 0;
}

#video p {
    font-size: 16px;
}

#video button {
    background: #BC1C86;
    color: white;
}

#video .d-flex div {
    width: 50%;
    z-index: 1;
}

#video .d-flex div button {
    border-radius: 5px;
    background: #BC1C86;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: 0;
    width: 180px;
}

#video .shield-img {
    position: absolute;
    width: 20%;
    max-width: 290px;
    right: 0;
    bottom: 0;
}

#video .video-wrapper {
    position: relative;
    cursor: pointer;
    margin-right: 20px;
}

#video .video-wrapper>video {
    width: 100%;
    vertical-align: middle;
}

#video .video-wrapper>video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

#video .video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    transition: opacity 150ms;
    background: #7D1E83 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.6;
}

#video .video-overlay-play-button:hover {
    opacity: 1;
}

#video .video-overlay-play-button.is-hidden {
    display: none;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: white;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #BC1C86;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #BC1C86;
}


/* strat slider with thumbs */

.outer {
    margin-top: 60px;
}

#big .item {
    color: #fff;
    text-align: center;
    opacity: 1;
    width: 100%;
    height: 450px;
}

#big .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

#big .item .overlay {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: transparent linear-gradient(90deg, #00227D00 0%, #3F2080 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    z-index: 1;
}

#thumbs .item .overlay {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(63, 32, 128, 0.65);
    opacity: 0.85;
    z-index: 3;
}

#thumbs {
    margin-top: -10px;
}

#thumbs .item {
    background: #c9c9c9;
    height: 155px;
    padding: 0px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

#thumbs .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#thumbs .item h1 {
    font-size: 18px;
    word-break: break-word;
}

#thumbs .current .item .overlay {
    opacity: 0;
}

#thumbs .current .item:before {
    position: absolute;
    content: "";
    bottom: 0;
    background: #bc1c86;
    width: 100%;
    height: 30px;
    left: 0;
}

#thumbs .current .item .info_thumbs {
    top: 142px;
}

.owl-theme .owl-nav [class*="owl-"] {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.owl-theme .owl-nav [class*="owl-"].disabled:hover {
    background-color: #d6d6d6;
}

#big.owl-theme {
    position: relative;
}

#big.owl-theme .owl-next,
#big.owl-theme .owl-prev {
    background: #3330;
    width: 48px;
    height: 48px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    border-radius: 25px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#big.owl-theme .owl-prev i,
#big.owl-theme .owl-next i {
    font-size: 16px !important;
    color: white;
    margin-left: 0;
}

#big.owl-theme .owl-prev {
    left: 70px;
}

#big.owl-theme .owl-next {
    right: 70px;
}

#thumbs.owl-theme .owl-next,
#thumbs.owl-theme .owl-prev {
    background: #333;
}

.info {
    position: absolute;
    top: 115px;
    right: 173px;
    left: 173px;
    text-align: right;
    z-index: 99;
}

.info h1 {
    text-align: right;
    font: Bold 60px/112px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-bottom: 0;
}

.info p {
    font: 100 16px/30px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    width: 50%;
}

.info a {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    font: 100 15px/29px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    padding: 3px 20px;
    transition: all 0.3s ease-in-out;
}

.info a:hover {
    text-decoration: none;
    background: #bc1c86;
    border: 1px solid #bc1c86;
}

.info a i {
    position: relative;
    left: -15px;
    top: 2px;
}

.info_thumbs {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    z-index: 99;
    transform: translate(-50%, -50%);
}

.info_thumbs .h6 {
    font-size: 14px;
}


/* end slider with thumbs */

#articles {
    padding-bottom: 60px;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
}

#articles h3 {
    margin-bottom: 60px;
}


/* #articles .article-img {
    height: 535px;
    position: relative;
    border-radius: 5px;
    text-align: right;
}

#articles .article-img article {
    position: absolute;
    right: 40px;
    bottom: 40px;
}

#articles .article-img article h4 {
    color: white;
    font-size: 40px;
    font-weight: 800;
    width: 80%;
}

#articles .article-img article p {
    color: white;
    font-size: 16px;
}

#articles .articles-details .main {
    margin: 0 20px;
    height: 535px;
    overflow: auto;
}

#articles .articles-details .item {
    display: flex;
    text-align: right;
}

#articles .articles-details .item img {
    width: 165px;
    height: 165px;
    border-radius: 5px;
    object-fit: cover;
}

#articles .articles-details .item h4 {
    font-size: 18px;
    font-weight: 700;
    color: #545454;
}

#articles .articles-details .item p {
    max-width: 300px;
    color: #545454;
    font-size: 14px;
} */

.prev.slick-arrow {
    font-size: 17px;
    text-transform: uppercase;
    margin-right: 15px;
    color: #fff;
    background-color: #dee2e6;
    position: relative;
    display: inline-block;
    text-align: center;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    border: 1px solid #dee2e6;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.prev.slick-arrow:hover {
    text-decoration: none;
    background-color: #072661;
    border: 1px solid #072661;
}

.next.slick-arrow {
    font-size: 17px;
    text-transform: uppercase;
    color: #fff;
    background-color: #dee2e6;
    position: relative;
    display: inline-block;
    text-align: center;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    border: 1px solid #dee2e6;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.next.slick-arrow:hover {
    text-decoration: none;
    background-color: #072661;
    border: 1px solid #072661;
}

.slider-item .item .article-img {
    height: 490px;
    text-align: right;
    display: block;
    position: relative;
}

.slider-item .item .article-img:after {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-item .item .article-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    height: 100%;
}

.slider-item .item .article-img article {
    position: absolute;
    right: 40px;
    bottom: 40px;
    z-index: 2;
}

.slider-item .item .article-img article h4 {
    color: white;
    font-size: 40px;
    font-weight: 800;
    width: 80%;
}

.slider-item .item .article-img article p {
    color: white;
    font-size: 16px;
}

.gallery-slider-nav .slider-item {
    width: inherit !important;
}

.gallery-slider-nav .slider-item .item_thumb {
    margin-bottom: 20px;
}

.gallery-slider-nav .slider-item .item_thumb img {
    width: 136px;
    height: 136px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 15px;
}

.slick-vertical .slick-slide {
    text-align: right;
}

.slider-item .article_info h4 {
    font-size: 18px;
    font-weight: 700;
    color: #545454;
}

.slider-item .article_info p {
    max-width: 300px;
    color: #545454;
    font-size: 14px;
    margin-bottom: 10px !important;
}

.arrow-container-postion {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: rotate(90deg);
}

.more-buttons .arrow-container {
    float: right;
}

#articles button {
    background: white;
}

#articles ::-webkit-scrollbar {
    width: 8px;
}

#articles ::-webkit-scrollbar-track {
    background: white;
}

#articles ::-webkit-scrollbar-thumb {
    background: #D9D9D9;
}

#articles ::-webkit-scrollbar-thumb:hover {
    background: #D9D9D9;
}

#contact {
    display: flex;
    background: #262262;
    justify-content: space-between;
    padding: 40px 40px;
}

#contact .item {
    color: white;
    align-items: center;
    text-align: right;
    margin-bottom: 20px;
}

#contact .item h4 {
    font-size: 18px;
}

#contact .item p {
    margin: 0;
    font-size: 14px;
}

#contact .item img {
    margin-left: 15px;
}

#contact h3 {
    color: white;
    margin: 30px 30px 40px 30px;
    text-align: right;
}

#contact .form {
    padding: 20px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    width: 530px;
    text-align: center;
    height: fit-content;
    margin-top: -50px;
}

#contact .form label {
    display: block;
    font-weight: 600;
}

#contact .form input,
#contact .form textarea {
    color: #545454;
    background: #F7F7F7;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
}

#contact .form label,
#contact .form input,
#contact .form textarea {
    margin-bottom: 15px;
    text-align: right;
}

#contact .form button {
    border-radius: 5px;
    background: #BC1C86;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: 0;
    width: 180px;
}

#contact .call-loction {
    justify-content: space-between;
    margin-top: 40px;
    color: white;
    text-align: right;
}

#contact .call-loction img {
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

#contact .call-loction h4 {
    font-size: 16px;
}

#contact .call-loction p {
    font-weight: 600;
    font-size: 18px;
}

#send-email {
    background-image: url(../../assets/img/img.png);
    background-size: cover;
    padding: 25px;
}

#send-email div {
    align-items: center;
    display: flex;
    justify-content: center;
}

#send-email h3 {
    font-size: 26px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

#send-email input,
#send-email button {
    height: 60px;
    padding: 0 30px;
    border: none;
}

#send-email input {
    border-radius: 30px 0 0 30px;
    max-width: 380px;
    width: 100%;
}

#send-email button {
    border-radius: 0 30px 30px 0;
    margin-right: -5px;
    background: #BC1C86;
    color: white;
}

footer {
    background: #04173B;
    color: white;
    padding: 60px 40px;
    position: relative;
}

footer .footer-alright {
    background: #031433;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 38px;
    margin: auto;
    text-align: center;
    padding: 5px;
}

footer .footer-alright span {
    color: white;
    font-size: 14px;
    opacity: 70%;
}

footer .data-footer {
    text-align: right;
}

footer .data-footer img {
    margin-bottom: 10px;
}

footer .data-footer p {
    margin-bottom: 30px;
    max-width: 385px;
}

footer .data-footer .social a {
    width: fit-content;
}

footer .data-footer .social img {
    margin: 0 5px;
}

footer .data-footer p,
footer a,
footer a:active,
footer a:focus,
footer a:hover,
footer a:visited {
    opacity: 70%;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

footer .d-flex {
    text-align: right;
}

footer .d-flex a {
    display: block;
    width: 100%;
}

footer .twitter,
footer .data-footer {
    margin-left: 20px;
}

footer .twitter {
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
}

footer .twitter ::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
}

footer .twitter ::-webkit-scrollbar-track {
    background: #04183D;
}

footer .twitter ::-webkit-scrollbar-thumb {
    background: #03122E;
}

footer .twitter ::-webkit-scrollbar-thumb:hover {
    background: #04183D;
}

footer .twitter div:nth-child(1) span:nth-child(1) {
    text-align: right;
    color: white;
    opacity: 1;
    font-weight: 600;
    font-size: 18px;
}

footer .twitter div:nth-child(1) a {
    color: #1DA1F2;
    font-size: 14px;
    width: fit-content;
    margin: 0 15px;
}

footer .twitter .tw-example {
    margin-top: 20px;
    padding: 10px;
    background: #051C48;
    border: 1px solid #072661;
    border-radius: 4px;
    opacity: 1;
    width: 100%;
}

footer .twitter .tw-example article {
    height: 215px;
    overflow: auto;
}

footer .twitter .tw-example article img {
    width: 36px;
    height: 36px;
}

footer .twitter .tw-example article p {
    max-width: 355px;
}

footer .twitter .tw-example article .date,
footer .twitter .tw-example article span {
    display: block;
    font-size: 14px !important;
    opacity: .7 !important;
}

footer .last div:last-child {
    margin-right: 20px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    padding: 15px;
    position: relative;
    top: 25%;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.overlay-content p {
    font-size: 24px;
    color: white;
}

.overlay-content input {
    border: 0;
    border-radius: 3px;
    max-width: 400px;
    width: 100%;
    margin: 20px auto;
    height: 48px;
}

.overlay-content button {
    border-radius: 5px;
    background: #BC1C86;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: 0;
    width: 180px;
    display: block;
    margin: auto;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 60px;
}


/************************ start other pages page **********************/


/* strat code globale */

.bg-gray {
    background: #F7FAFA;
}

.no-bg {
    background: none !important;
}

.no-shadow {
    box-shadow: none !important;
}

.bg-info-without-margin {
    margin: -41px 10px 60px 10px !important;
}

.no-border {
    border: 0;
}

.postion-25 {
    position: relative;
    top: 25px;
}

.small-text {
    font-size: 20px !important;
}

.title_dots {
    font-size: 35px;
    color: #262262;
    font-weight: 800;
    text-align: center;
    position: relative;
    padding-top: 55px;
}

.title_dots .dots {
    object-fit: contain;
    position: absolute;
    top: 50px;
    right: 0;
}

.other_Pages .navbar {
    height: 80px;
    max-width: 100%;
    background: white;
    border-radius: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.other_Pages .navbar .extra-nav {
    width: 275px;
    background: #fff;
    border-radius: 0;
    height: 80px;
}

.other_Pages .navbar .extra-nav .btn-group {
    max-width: 60px;
    height: 100%;
}

.other_Pages .navbar .extra-nav .btn-group.show {
    background: #f9f9f9;
}

.other_Pages .navbar ul li .nav-link,
.navbar ul li .nav-link {
    position: relative;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.other_Pages .navbar ul li .nav-link:before,
.navbar ul li .nav-link:before {
    position: absolute;
    content: "";
    top: 20px;
    left: 0;
    height: 40px;
    width: 1px;
    background: #f3f3f3;
}

.other_Pages .navbar ul li:hover .nav-link:before,
.navbar ul li:hover .nav-link:before {
    background: transparent;
}

.other_Pages .navbar ul li:nth-of-type(5) .nav-link:before,
.navbar ul li:nth-of-type(5) .nav-link:before {
    background: transparent;
}

.wrapper_content {
    position: relative;
    padding: 80px 0 0 0;
}

.bg-info {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000001A;
    border-radius: 10px;
    margin: -41px 0 30px 0;
    z-index: 9;
    position: relative;
    padding: 30px;
}

.no-padding-with-col {
    padding: 30px 15px 30px 15px !important;
}

.beardcamp_info {
    padding: 0;
    position: absolute;
    bottom: 100px;
    color: #e6e6e6;
    width: 100%;
}

.beardcamp_info_other {
    padding: 30px 12px;
}

.beardcamp {
    position: relative;
    z-index: 3;
}

.beardcamp img {
    position: relative;
    width: 100%;
    height: 308px;
    object-fit: cover;
    position: relative;
}

.beardcamp:after {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    content: "";
    width: 100%;
    height: 100%;
}

.beardcamp_info h3 {
    font: Bold 32px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    line-height: 50px;
    position: relative;
    z-index: 3;
}

.breadcrumb .breadcrumb-item a {
    text-align: right;
    font: Regular 16px/30px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 0.6;
    position: relative;
    z-index: 3;
}

.beardcamp_info_other .breadcrumb .breadcrumb-item a {
    text-align: right;
    font: Regular 16px/30px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 0.6;
    position: relative;
    z-index: 3;
}

.beardcamp_info_other .breadcrumb .breadcrumb-item {
    color: #545454;
}

.beardcamp_info_other .breadcrumb .breadcrumb-item {
    color: #545454;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #FFFFFF;
    opacity: 0.6;
    content: "/";
    padding-left: 0.5rem;
    position: relative;
    z-index: 3;
}

.beardcamp_info_other .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #545454;
    opacity: 0.6;
    content: "/";
    padding-left: 0.5rem;
    position: relative;
    z-index: 3;
}

.right_text {
    position: relative;
    top: 12px;
}

.beardcamp_info .center_text h4 {
    font: Bold 30px/24px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    position: relative;
    z-index: 3;
}

.beardcamp_info .center_text p {
    font: 500 26px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    position: relative;
    z-index: 3;
}

.left_text {
    text-align: left;
}

.beardcamp_info .left_text a {
    background: #BC1C86 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #00000029;
    border-radius: 24px;
    opacity: 1;
    color: white;
    padding: 5px 45px;
    position: relative;
    top: 65px;
    z-index: 3;
}

.beardcamp_info .left_text a:hover {
    text-decoration: none;
}

.beardcamp_info .left_text a i {
    position: relative;
    left: -15px;
}

.bg-info p {
    text-align: center;
    font: 100 16px/30px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
    width: 85%;
    display: block;
    margin: 25px auto;
}

.boxs {
    text-align: center;
    display: block;
}

.boxs img {
    margin-bottom: 20px;
}

.boxs h4 {
    font: Bold 20px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
}

.boxs p {
    margin-top: 10px;
    font: 100 16px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
}

.bg-info .title_2 {
    text-align: center;
    font: Bold 30px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
    margin: 40px 0;
}


/* strta contact form shared */

.contact-about {
    position: relative;
}

.contact-about .shield-img {
    position: absolute;
    width: 343px;
    max-width: 359px;
    right: -30px;
    bottom: auto;
    height: 409px;
    top: 90px;
}

.contact-about-body {
    background: #262262 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    min-height: 200px;
    width: 100%;
    margin: 0 25px 60px 25px;
    padding: 30px 0 50px 0;
}

.contact-about-body .title {}

.contact-about-body .title h1 {
    text-align: center;
    font: Bold 26px/49px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 0;
}

.contact-about-body .title p {
    text-align: center;
    font: SemiBold 18px/33px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

.maps-info-bg {
    background: #3F2080 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000001A;
    border-radius: 10px;
    opacity: 1;
    margin-top: -100px;
    position: relative;
    padding: 30px 0;
}

.maps-info-bg::after {
    position: absolute;
    content: "";
    background: #262262 0% 0% no-repeat padding-box;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-clip-path: polygon(20px 0, 100% 0, calc(100% - 20px) 100%, 0% 100%);
    clip-path: polygon(180px 0, 100% 0, calc(100% - 0px) 100%, 0% 100%);
    -webkit-transition: -webkit-clip-path 600ms cubic-bezier(0.15, 1, 0.22, 1);
    transition: -webkit-clip-path 600ms cubic-bezier(0.15, 1, 0.22, 1);
    transition: clip-path 600ms cubic-bezier(0.15, 1, 0.22, 1);
    transition: clip-path 600ms cubic-bezier(0.15, 1, 0.22, 1), -webkit-clip-path 600ms cubic-bezier(0.15, 1, 0.22, 1);
    border-radius: 10px;
}

.logo-contact {
    text-align: center;
    position: relative;
    z-index: 2;
    height: 100%;
    align-items: center;
}

.maps-info-list {
    position: relative;
    z-index: 2;
    direction: ltr;
    text-align: left;
    margin-left: 50px;
}

.maps-info-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.maps-info-list ul li {
    line-height: 50px;
}

.maps-info-list ul li img {
    margin-right: 5px;
}

.maps-info-list ul li a {
    font: 100 18px/30px cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

.maps-info-list ul li a:hover {
    text-decoration: none;
}

.label-name {
    text-align: right;
    font: 600 16px/30px Cairo;
    letter-spacing: 0;
    opacity: 1;
    display: block;
    color: white
}

.offset-3 {
    margin-right: 25%;
}

.offset-1 {
    margin-right: 8.333333%;
}

.form-control:focus {
    box-shadow: none;
}

.nice-select .current {
    text-align: right;
    font: 600 16px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
    line-height: inherit;
}

.btn-form-contact {
    background: #BC1C86 0% 0% no-repeat padding-box;
    border: 2px solid #BC1C86;
    border-radius: 24px;
    text-align: center;
    font: 600 18px/33px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    padding: 2px 70px;
}

.btn-form-contact:hover {
    color: #BC1C86;
    border: 2px solid #BC1C86;
    background: transparent;
}

.other-contact {
    text-align: center;
}

.other-contact p {
    text-align: center;
    font: SemiBold 18px/33px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

.other-contact .phone {
    background: #BC1C86 0% 0% no-repeat padding-box;
    border: 2px solid #BC1C86;
    border-radius: 5px;
    font: 600 18px/33px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    padding: 5px 70px;
}

.other-contact .phone:hover {
    color: white;
    border: 2px solid #BC1C86;
    background: transparent;
    text-decoration: none;
}

.maps {
    margin-top: 30px;
}

.maps iframe {
    box-shadow: 2px 4px 6px #0000001F;
    border-radius: 10px;
    opacity: 1;
}

.newsPapper-bg {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000001A;
    border-radius: 10px;
    opacity: 1;
    padding: 30px 0;
    margin: 60px 0 0 0;
}

.newsPapper .title-news h1 {
    text-align: center;
    font: Bold 26px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
}

.newsPapper .label-name {
    text-align: right;
    font: 600 14px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
    display: block;
}

.newsPapper .form-control {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    border: 0;
}

.image {
    width: 100%;
    display: block;
}

.image img {
    width: 100%;
    position: relative;
    bottom: -30px;
}

.newsPapper .btn-form-contact:hover {
    color: #bc1c86;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.align-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.social-meida {
    text-align: center;
    position: relative;
}

.social-meida p {
    text-align: center;
    font: 600 17px Cairo;
    letter-spacing: 0px;
    color: #545454;
    opacity: 1;
    margin-bottom: 12px;
}

.social-meida ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.social-meida ul li {
    display: inline-block;
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background: #ccc;
    line-height: 30px;
}

.social-meida ul li.facebook {
    background: #3C5A99 0% 0% no-repeat padding-box;
}

.social-meida ul li.twitter {
    background: #55ADEE 0% 0% no-repeat padding-box;
}

.social-meida ul li.instagram {
    background: transparent linear-gradient(204deg, #5F57C8 0%, #DD6583 54%, #FED477 100%) 0% 0% no-repeat padding-box;
}

.social-meida ul li.youtube {
    background: #FF0000 0% 0% no-repeat padding-box;
}

.social-meida ul li a {
    color: white;
}

.social-meida ul li a i {}

.Shield {
    position: absolute !important;
    bottom: -80px;
    opacity: 0.2;
}

.bg-info .services {
    padding: 0 !important;
}


/* strat code faq page */

.faq {
    padding: 30px 0;
}

.bg-white {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000001A;
    border-radius: 10px;
    opacity: 1;
}

.Questions {
    min-height: 200px;
    padding: 30px;
}

.Questions .big-text h1 {
    text-align: right;
    font: Bold 102px Cairo;
    letter-spacing: -1px;
    color: #BC1C86;
    opacity: 1;
    line-height: 125px;
}

.Questions .mid-text h2 {
    text-align: right;
    font: Bold 30px Cairo;
    letter-spacing: -1px;
    color: #BC1C86;
    opacity: 1;
}

.Questions .faq-list {
    list-style: none;
}

.Questions .faq-list li {
    line-height: 50px;
}

.Questions .faq-list li img {
    margin-left: 5px;
}

.Questions .faq-list li a {
    text-align: right;
    font: Bold 20px Cairo;
    letter-spacing: 0px;
    color: #545454;
    opacity: 1;
}

.Questions .faq-list li a:hover {
    text-decoration: none;
}

.Questions .title h1 {
    font: Bold 24px/45px Cairo;
    letter-spacing: 0;
    color: #BC1C86;
    opacity: 1;
}

.Questions .title p {
    font: 600 16px/30px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
}

.Questions form label {
    text-align: right !important;
    color: #545454;
    font-weight: 600;
}

.Questions form .form-control {
    background: #F7F7F7;
    border: 0;
    border-radius: 5px;
}

.Questions .btn-form-contact:hover {
    color: #bc1c86;
}

.category-list {
    background: #262262 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000001A;
    border-radius: 10px;
    opacity: 1;
    min-height: 200px;
    padding: 20px;
}

.category-list .title-list h1 {
    text-align: right;
    font: 600 26px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
}

.category-list ul {
    list-style: none;
    padding: 0;
}

.category-list ul li {
    width: 100%;
}

.category-list ul li a {
    display: block;
    text-align: right;
    font: 300 16px Cairo;
    letter-spacing: 0;
    color: #ffffffbd;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid #1E1B4D;
    padding: 5px 0;
}

.category-list ul li a:last-child {
    padding-bottom: 0;
    border: 0;
}

.category-list ul li a:hover {
    text-decoration: none;
    color: #FFFFFF;
    background: #1E1B4D 0% 0% no-repeat padding-box;
    opacity: 1;
    border-right: 12px solid #bc1c86;
    padding-right: 10px;
}

.Answer {
    margin-top: 50px;
}

.Answer .Ask {}

.Answer .Ask h1 {
    margin-left: 10px;
    text-align: right;
    font: 900 40px Cairo;
    letter-spacing: 0;
    color: #BC1C86;
    opacity: 1;
}

.Answer .Ask h6 {
    text-align: right;
    font: Bold 20px/56px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
    position: relative;
    top: 16px;
    margin-bottom: 0;
}

.Answer .Ans {}

.Answer .Ans h1 {
    margin-left: 10px;
    text-align: right;
    font: 900 45px Cairo;
    letter-spacing: 0;
    color: #BC1C86;
    opacity: 1;
}

.Answer .Ans p {
    text-align: right;
    font: 100 16px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
    position: relative;
    top: 35px;
}

.Answer strong {
    padding: 20px 0;
    display: block;
}

.Answer p {
    text-align: right;
    font: 100 16px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
}

.breadcrumb-item.active {
    color: white;
    position: relative;
    z-index: 3;
}

.blocks {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}

.blocks:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: transparent linear-gradient(180deg, #26226200 0%, #262262 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    bottom: 0;
}

.blocks img {
    width: 100%;
    height: 191px;
    border-radius: 10px;
    object-fit: cover;
}

.blocks .name-link {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
    z-index: 2;
    font: 300 18px/33px Cairo;
    letter-spacing: 0.36px;
    color: #FFFFFF;
}

.blocks .name-link:hover {
    text-decoration: none;
}

.blocks-border {
    text-align: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000001A;
    border-radius: 5px;
    opacity: 1;
    padding: 26px 0px;
}

.blocks-border img {
    display: block;
    text-align: center;
    margin: 12px auto;
}

.blocks-border a {
    text-align: center;
    font: 600 18px/33px Cairo;
    letter-spacing: 0.36px;
    color: #BC1C86;
    opacity: 1;
}

.blocks-border a:hover {
    text-decoration: none;
}

.w-none {
    width: auto !important;
}

.pest-library {
    text-align: left !important;
}

.bg-info.pest-library .article-img {
    width: 85px;
}

.bg-info.pest-library .article-img img {
    width: 100%;
    border-radius: 5px;
}

.bg-info.pest-library .media {
    margin-bottom: 20px;
}

.bg-info.pest-library .media-body h1 {
    text-align: right;
    font: 500 16px/25px Cairo;
    letter-spacing: 0px;
    color: #545454;
    opacity: 1;
    margin-right: 5px;
}

.bg-info.pest-library .media-body p {
    overflow: hidden;
}

.bg-info.pest-library .media-body p span {
    font: 100 12px/24px Cairo;
    letter-spacing: 0px;
    color: #BCBCBC;
    opacity: 1;
    float: right;
    margin-right: 5px;
}

.bg-info.pest-library .media-body p a {
    font: 100 12px/24px Cairo;
    letter-spacing: 0px;
    color: #BC1C86;
    opacity: 1;
    float: left;
}

.bg-info.pest-library .social-meida {
    text-align: center;
    position: relative;
    top: -12px;
}

.bg-info.pest-library .social-meida h6 {
    text-align: right;
    font: 600 20px/37px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
    margin-bottom: 20px;
}

.ads {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.ads img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}

.ads-info {
    position: absolute;
    bottom: 30px;
    color: white;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
}

.ads-info h1 {
    font: 900 32px/60px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 0;
}

.ads-info h2 {
    font: Bold 62px/93px Poppins;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 0;
}

.ads-info p {
    font: 300 22px/42px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 0;
}

.order {
    background: #BC1C86 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
    padding: 3px 0;
    color: white;
    max-width: 230px;
    margin: 15px auto 0 auto;
    height: 42px;
    line-height: 32px;
}

.order a {
    color: white;
}

.order:hover {
    background: transparent;
    border: 2px solid #bc1c86;
}

.order a:hover {
    text-decoration: none;
}

.ads-newPapper {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000001A;
    border-radius: 10px;
    opacity: 1;
    padding: 30px;
    margin-bottom: 30px;
}

.ads-newPapper .title-news h1 {
    text-align: center;
    font: Bold 26px/49px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
}

.ads-newPapper .image img {
    bottom: 0;
}

.ads-newPapper img {
    text-align: center;
    width: 100%;
    display: block;
}

.ads-newPapper .form-control {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    border: 0;
}

.title-pest-details {
    text-align: right;
    font: Bold 22px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
    position: relative;
    margin: 0 15px 0 0;
}

.with-Border {
    padding-right: 20px;
    margin: 15px 0px 15px 0 !important;
    position: relative;
}

.with-Border:after {
    position: absolute;
    content: "";
    background: #bc1c86;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
}

.share-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.share-links img {
    margin-left: 10px;
}

.share-links span {
    font: 600 16px/30px Cairo;
    letter-spacing: 0.32px;
    color: #545454;
    opacity: 1;
}

.share-links .social-meida ul li a {
    color: rgba(0, 0, 0, 0.3);
}

.desc {
    text-align: right !important;
    width: 100% !important;
}

.main-title-cart {
    font: Bold 26px/49px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
}

.accordion-head i {
    font-size: 22px;
    float: right;
    color: #212529;
    vertical-align: middle;
    position: relative;
    top: 8px;
}

.accordion-head>:not(.collapsed)>i:before {
    content: "\f107";
}

.accordion-head a {
    font: Bold 18px/33px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
}

.card-body {
    padding-top: 0;
}

.card-body p {
    text-align: right !important;
    width: 100% !important;
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
}

.card-body ul {
    padding: 0;
    margin-right: 20px;
}

.card-body ul li {
    text-align: right;
    font: 300 16px/33px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
}

.card-body ul li strong {
    text-align: right;
    font: 600 18px/33px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
}

.tagsBlock {}

.tagsBlock h3 {
    text-align: right;
    font: Bold 26px/49px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
}

.tagsBlock ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tagsBlock ul li {
    background: #E6E6E6 0% 0% no-repeat padding-box;
    border-radius: 0px 18px;
    opacity: 1;
    margin: 0 5px;
    display: inline-block;
    padding: 8px 20px;
}

.tagsBlock ul li:first-child {
    margin: 0;
}

.tagsBlock ul li img {
    margin-left: 5px;
}

.tagsBlock ul li a {
    text-align: right;
    font: 500 14px/26px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
}

.articels-box {
    margin: 30px 0 30px 0;
    text-align: right;
}

.articels-box-without-bg {
    margin: 30px -15px 60px -15px !important;
}

.articels-box h3 {
    text-align: right;
    font: Bold 26px/49px Cairo;
    letter-spacing: 0.52px;
    color: #545454;
    opacity: 1;
    margin-right: 15px;
}

.articels-box .card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000001A;
    border-radius: 10px;
    border: 0;
    margin-bottom: 30px;
}

.image-area {
    position: relative;
}

.articels-box .card .card-img-top {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 214px;
    object-fit: cover;
    position: relative;
}

.wdight .card .card-img-top {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 140px;
    object-fit: cover;
    position: relative;
}

.card-img-overlay {
    padding: 0;
    top: 15%;
    z-index: 1;
}

.card-img-overlay img {
    margin-left: 5px;
}

.image-area .card-title-overlay {
    background: #BC1C86 0% 0% no-repeat padding-box;
    border-radius: 24px 0px 0px 24px;
    opacity: 1;
    display: inline;
    padding: 5px 20px;
    text-align: right;
    font: 300 15px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
}

.image-area .card-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: transparent linear-gradient(180deg, #26226200 0%, rgba(38, 34, 98, 0.7) 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 20px;
    text-align: center;
    font: 600 17px Cairo;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.wdight .card-body .card-title {
    margin-top: 20px;
}

.blogs .card-body .card-title {
    text-align: right;
    font: 600 17px Cairo;
    letter-spacing: 0.4px;
    color: #545454;
}

.articels-box .card .card-body,
.blogs .card-body {
    padding-top: 15px;
}

.articels-box .card .card-body .card-text,
.blogs .card-body .card-text {
    text-align: justify;
    font: 400 16px Cairo;
    letter-spacing: 0.32px;
    color: #545454;
    opacity: 1;
}

.articels-box .card .card-body .date,
.blogs .card-body .date {
    text-align: right;
    font: 300 12px Cairo;
    letter-spacing: 0;
    color: #BCBCBC;
    opacity: 1;
}

.articels-box .card .card-body .read-more,
.blogs .card-body .read-more {
    float: left;
    font: 400 13px Cairo;
    letter-spacing: 0;
    color: #BC1C86;
    opacity: 1;
}

.btn-border {
    border: 1px solid #BC1C86;
    color: #BC1C86;
    width: 250px;
}

.btn-border:hover {
    background: #BC1C86;
    color: #fff;
}

.hero {
    position: relative;
}

.hero .hero-img {
    height: 441px !important;
    object-fit: cover;
}

.hero .card-img-overlay {
    padding: 0 !important;
    bottom: 10%;
    top: unset;
}

.hero .card-img-overlay .card-title-overlay {
    text-align: right;
    background: #bc1c86;
    padding: 7px 25px;
    color: white;
    display: inline;
    border-radius: 25px 0 0 25px;
}

.block-img {
    text-align: center;
    margin-top: 30px;
}

.block-img .img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 191px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    object-fit: cover;
}

.block-img .blockImg-title {
    text-align: center;
    font: 600 14px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
}

.bg-white {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000001A;
    border-radius: 10px;
    opacity: 1;
}

.ImgError {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 80px;
}

.ImgError:before {
    position: absolute;
    content: "";
    bottom: 0;
    height: 70px;
    width: 100%;
    left: 0;
    background: #262262;
    right: 0;
    z-index: 0;
}

.ImgError img {
    margin-bottom: 20px;
}

.ImgError p {
    text-align: center;
    font: 300 16px Cairo;
    letter-spacing: 0px;
    color: #545454;
    opacity: 1;
}

.backBtn {
    background: #BC1C86 0% 0% no-repeat padding-box;
    border: 2px solid #BC1C86;
    border-radius: 24px;
    text-align: center;
    font: 600 16px Cairo;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    padding: 5px 50px;
    position: relative;
    z-index: 1;
}

.backBtn:hover {
    color: #BC1C86;
    background: transparent;
}

.img-overlay {
    position: absolute;
    z-index: 0;
    bottom: 47px;
}

.img-overlay img {
    width: 100%;
}

.blogs .image-area .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: transparent linear-gradient(180deg, #26226200 0%, rgba(38, 34, 98, 0.7) 100%) 0% 0% no-repeat padding-box;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.color-dark {
    color: #545454 !important;
}

.title-wdight {
    text-align: right;
    font: 600 20px Cairo;
    letter-spacing: 0;
    color: #545454;
    opacity: 1;
    margin-bottom: 20px;
    line-height: 20px;
}

.form-group {
    position: relative;
}

.input-group-prepend {
    position: absolute;
    left: 0;
    cursor: pointer;
    height: 100%;
}

.input-group-prepend .input-group-text {
    background: #BC1C86 0% 0% no-repeat padding-box;
    border-radius: 5px 0px 0px 5px;
    opacity: 1;
    color: white;
}

.form-group .form-control {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    border: 0;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}

.list li {
    padding: 5px 0;
    border-bottom: 1px solid #eaeaea;
}

.list li img {
    margin-left: 5px;
}

.list li a {
    text-align: right;
    font: 300 16px Cairo;
    letter-spacing: 0px;
    color: #808080;
    opacity: 1;
}

.page-link {
    color: #BC1C86;
    background-color: #fff;
    border: 1px solid #f1f1f1;
}

.page-item.active .page-link {
    background: #BC1C86 0% 0% no-repeat padding-box;
    opacity: 1;
    border: 0;
}

.page-item.disabled .page-link {
    color: #BC1C86;
    opacity: 0.6;
}

.page-item:last-child .page-link,
.page-item:first-child .page-link {
    border-radius: 0;
}

.more-links {
    margin-bottom: 20px;
}

.more-links ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.more-links ul li {
    display: inline-block;
}

.more-links ul li img {
    margin: 0 5px;
}

.more-links ul li .title {
    text-align: right;
    font: 300 14px Cairo;
    letter-spacing: 0.28px;
    color: #666666;
    opacity: 1;
}

.more-links ul li .subtitle {}

.rate h6 {
    color: #545454;
    font-size: 18px;
}

.rate a {
    display: inline-block;
    margin: 10px 15px;
    color: #545454;
    font-weight: 500;
    font-size: 14px;
}

.rate img {
    text-align: center;
    display: block;
    margin-bottom: 10px;
}


/************* Start Other Pest Bites ***************/

.table {
    table-layout: fixed;
}

.table .fisrt-td {
    padding: 0;
    border: 0;
    border-width: 0;
}

.table-bordered {
    border: 0;
}

.table thead th {
    text-align: center;
    font: Bold 17px/25px Cairo;
    letter-spacing: 0px;
    color: #545454;
    opacity: 1;
    border-bottom: 0;
    background: #F7F7F7 0% 0% no-repeat padding-box;
}

.bg-pink {
    background: #BC1C86 0% 0% no-repeat padding-box !important;
    border-radius: 0px 5px 0px 0px;
    opacity: 1;
    color: #fff !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #B3B3B3;
}

.table_list {
    padding-right: 20px;
    margin-bottom: 0;
}

.table_list li {
    text-align: right;
    font: 400 14px/26px Cairo;
    letter-spacing: 0px;
    color: #545454;
    opacity: 1;
}


/* start icon toggle */


/* #toggle {
    width: 25px;
    height: 30px;
    position: relative;
    top: 8px;
    left: 10px;
} */

.navbar-toggler {
    width: 30px;
    background: #26226200;
    height: auto;
    position: relative;
    top: 0px;
    left: 15px;
    margin-right: 10px;
}

.navbar-toggler span {
    width: 22px;
    height: 3px;
    background: black;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
    display: block;
    border-radius: 25px;
}

.navbar-toggler.on .one {
    transform: rotate(45deg) translate(4px, 5px);
}

.navbar-toggler.on .two {
    opacity: 0;
}

.navbar-toggler.on .three {
    transform: rotate(-45deg) translate(5px, -7px);
}

.modal-body {
    text-align: center;
}

.modal-body .check-icon {
    margin-bottom: 10px !important;
}

.modal-body h2 {
    font: Bold 24px/45px Cairo;
    letter-spacing: 0px;
    color: #BC1C86;
    opacity: 1;
    text-align: center;
}

.modal-body p {
    text-align: center;
    font: 400 16px/30px Cairo;
    letter-spacing: 0px;
    color: #545454;
    opacity: 1;
    padding: 0 25px;
}


/*********************** site map page *************************/

.main-block {}

.main-block .title-block {
    position: relative;
    font-size: 22px;
    font-weight: bold;
    padding-right: 19px;
}

.main-block .title-block:after {
    position: absolute;
    content: "";
    top: 15px;
    right: 0;
    width: 10px;
    height: 3px;
    background: #1E1B4D;
}

.first-list {
    margin-top: 15px;
    list-style: none;
    padding-right: 19px;
}

.sacend-list {
    list-style: none;
    padding-right: 19px;
}

.first-list li {
    line-height: normal;
}

.first-list li a {
    font-size: 16px;
    color: rgba(33, 37, 41, 0.60);
    text-decoration: underline;
    position: relative;
    padding-right: 13px;
    transition: all 0.3s ease-in-out;
}

.first-list li a:hover {
    color: rgba(0, 0, 0, 1);
}

.first-list li a:after {
    position: absolute;
    content: "";
    top: 15px;
    right: 0;
    width: 5px;
    height: 5px;
    background: rgba(0, 0, 0, 0.3);
}

.sacend-list li a:after {
    position: absolute;
    content: "";
    top: 15px;
    right: 0;
    width: 5px;
    height: 5px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.3);
}


/****************************** start search reuselt page ********************/

.search-title {
    padding-top: 30px;
    position: relative;
}

.search-title h3 {
    font-size: 18px;
    font-weight: 700;
    color: #212529;
    padding-bottom: 20px;
}

.search-title:after {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.2);
    height: 1px;
    width: 100%;
    right: 0;
    bottom: 0;
}